/** #Body - Content Formatation */

.main {
    width: 100%;
    background-color: $orange;
    position: relative;
    padding-top: 40px;

    .main-content {
        max-width: $width;
        padding: 40px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        .content-left {
            flex-basis: 60%;

            .content-card {
                h1 {
                    font-size: 2em;
                    color: #fff;
                }

                p {
                    padding: 10px 0;
                    font-size: 1em;
                    color: #fff;
                    font-weight: 300;
                }
            }
            
        }

        .content-right {
            max-width: 40%;
        }
    }

    .arrow-orange {
        width:0; 
        border-top:20px solid $orange; 
        border-left:30px solid transparent; 
        border-right:30px solid transparent;
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        margin: -1px auto 0 auto;
        z-index: 999;
    }
}

/** #Body - Specs Formatation */

.specs {
    background-color: #fff;
    position: relative;
    display: flex;
    max-width: $width;
    padding-top: 40px;
    margin: 0 auto;

    .specs-left {
        max-width: 50%;
    }

    .specs-content {
        max-width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        img {
            max-width: 150px;
            max-height: 150px;
            flex-basis: 100%;
        }

        .specs-format {
            padding: 0 20px;

            h1 {
                font-size: 1em;
            }
        }

    }

    .specs-right {
        align-self: flex-end;
    }

    p {
        font-weight: 300;
    }

    .arrow-white {
        width:0; 
        border-top:20px solid #fff; 
        border-left:30px solid transparent; 
        border-right:30px solid transparent;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin: 0 auto 0 auto;
        z-index: 999;
    }
}

/** Body - Contact */

.contact {
    width: 100%;
    padding: 40px 0;
    background-color: $darkGrey;
    display: flex;
    flex-direction: column;

    header {
        margin: 0 auto;
        display: flex;
        h1 {
            font-size: 2em;
            color: #fff;
        }
    }

    .contact-content {
        width: $width;
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        justify-content: space-around;
        font-size: 1em;
        color: #fff;
        align-items: center;

        .copyright {
            font-weight: 300;
        }

        .contact-info {
            display: flex;
            flex-direction: column;

            .icon-text {
                display: flex;
                margin: 20px 0;

                p {
                    font-weight: 300;
                }

                .description {
                    color: #bbb;
                }
            }

            ion-icon {
                margin-right: 10px;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            border-radius: 5px;

            input, textarea {
                padding: 15px;
                font-size: 1em;
                border: none;
                outline: none;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                margin: 10px 0;
            }

        }
    }

    
}